*{
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC', '思源黑體', sans-serif;
}
.header{
    background-color: #000;
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.logo{
    display: inline-block;
    padding: 10px 0;
}
.menu-m{
    display: inline-block;
    float: right;
    width: 50px;
    margin-top: 0px;
    margin-right: 10px;
    visibility: hidden;
}
.menu-m > img{
    width: 100%;
    height: auto;
}
.img-rwd{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.banner-m{
    display: none;
}
.menu-block{
    background-color: #000;
    display: block;
}
.menu-block-mb{
    display: none;
}
.menu_look{
    max-width: 985px;
    margin: 0 auto;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    display: inline-block;
    text-align: center;
    border-left: 1px solid #4d4d4d;
}
.menu li:last-child{
    /* width: 13%; */
    margin-right: 0;
    border-right: 1px solid #4d4d4d;
}
.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fdd000;
    font-size: 30px;
    text-decoration: none;
    padding: 30px 45px;
    font-weight: 500;
}
.menu li img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.menu-m-social{
    display: none;
}
.bar{
    width: 50px;
    height: 8px;
    background: #FDD000;
    margin: 8px 0;
    border-radius: 10px;
    opacity: 0;
    display: none;
}
.transition{
    transition: 0.4s;
}
.relative{
    position: relative;
}
.revitalize-pc{
    position: absolute;
    display: block;
    top: 27px;
    width: 9%;
    right: 9px;
}
.revitalize-mb{
    position: absolute;
    display: none;
    top: 1.1%;
    width: 16%;
    right: 1.5%;
}
.revitalize-pc img{
    width: 100%;
}
.revitalize-mb img{
    width: 100%;
}
.sub-banner{
    height: 320px;
    background: url(../img/sub-banner.png) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.subMask{
    background-color: rgba(255, 255, 255, .4);
    height: 320px;
}
.sectionBlock{
    position: absolute;
}
#section1{
    bottom: -10%;
}
#section2{
    bottom: 0%;
}
#section3{
    bottom: 0%;
}
#section4{
    bottom: 0%;
}
#section5{
    bottom: 0%;
}
#section6{
    bottom: 0%;
}
.sub-slogn{
    line-height: 2;
    letter-spacing: 1px;
    color: #000;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
.title-img{
    width: 660px;
    height: 150px;
    background: url(../img/title-img.png) no-repeat left top;
}
.title-txt{
    margin-left: 170px;
    padding-top: 36px;
    display: block;
}
.title-txt img{
    width: 30px;
    margin-top: -2px;
    margin-right: 12px;
    height: auto;
}
.title-txt h3{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}
.title-txt h2{
    font-size: 30px;
    color: #000;
    font-weight: 600;
}
.summer-txt{
    margin: 20px 0 40px 0;
    display: block;
}
.summer-txt h2{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.bg-8a8a8a{
    background-color: #8a8a8a;
    position: relative;
}
.bg-595959{
    background-color: #595959;
    position: relative;
}
.pd-1{
    padding-bottom: 30px;
}
.card{
    width: 30%;
    margin-right: 40px;
    margin-bottom: 25px;
    position: relative;
    float: left;
    transition: .15s ease-out;
}
.card:hover{
    transform: scale(1.02);
}
.card-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.card-content{
    padding: 10px;
    background: #fff;
}
.black-content{
    padding: 10px;
    background: #000;  
}
.black-content h4{
    color: #fff;
}
.card-content-h4{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.card-content-style{
    margin-top: 15px;
    font-size: 23px;
    font-weight: 600;
    color: #000;
}
.card-content-style + .card-content-style{
    margin-bottom: 15px;
}
.card-content-style span{
    margin-left: 10px;
}
.card-content-style2{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.card-content-style2 + .card-content-style2{
    margin-bottom: 15px;
}
.card-content-style2 span{
    margin-left: 17px;
}

.black-content-h4{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.black-content-style{
    margin-top: 22px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: line-through;
}
.black-content-style + .black-content-style{
    margin-bottom: 15px;
}
.black-content-style span{
    margin-left: 10px;
}
.middle{
    display: inline-block;
    vertical-align: middle;
}
.locationImg{
    margin-left: 3px;
    margin-right: 2px;
}
.card-content-bottom{
    text-align: right;
}
.card-content-bottom div{
    display: inline-block;
    width: 90px;
    padding: 10px 0;
    color: #000;
    text-align: center;
}
.black-content-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.black-content-bottom h2{
    width: 120px;
    text-align: right;
    font-size: 26px;
    color: #fff;
    padding-top: 8px;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
}
.black-content-bottom div{
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    color: #000;
    text-align: center;
}
.mr18{
    margin-right: 18px;
}
.mr0{
    margin-right: 0;
}
.bg-o{
    background-color: #fdd000;
}
.bg-g{
    background-color: #1cffd2;
}
.bg-w{
    background-color: #fff;
}
.card-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid rgba(179, 179, 179, .4);
    position: absolute;
    transition: all .5s;
    top: 42%;
    right: 10px; 
    overflow: hidden;
}
.card-logo:hover{
    transform: scale(1.22);
}

.btn-more{
    display: block;
    width: 200px;
    padding: 20px 0 40px 0;
    margin: auto;
}
.btn-more:last-child{
    width: 260px;
}
.btn-more img{
    width: 100%;
}
.directions-wrap{
    background: url(../img/directions-img.png) no-repeat right bottom;
    padding-bottom: 10vh;
}
.w-50p{
    width: 50%;
    margin-left: 140px;
}
.title-txt.black h2{
    color: #000;
    position: absolute;
    width: 50%;
}
.directions-block{
    margin-bottom: 15px;
}
.directions-block:last-child{
    margin-bottom: 30px;
}
.directions-block a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.directions-block a:hover{
    color: blue;
}
.directions-block h5{
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 8px;
}
.directions-block p{
    margin-bottom: 10px;
    margin-left: 6px;
    color: #4f4f4f;
    line-height: 1.4;
}
.directions-block li{
    list-style-type: decimal;
    margin-bottom: 10px;
    margin-left: 12px;
    color: #4f4f4f;
    line-height: 1.4;
}
.directions-center{
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    width: 25%;
    margin: 0 auto;
}
.directions-center > div{
    margin-right: 20px;
}
.directions-center > div:last-child{
    margin-right: 0;
}
.ver-bottom{
    /* display: inline-block;
    vertical-align: bottom; */
    width: 160px;
    margin-bottom: 20px;
}
.ver-bottom > a > img{
    width: 100%;
}


.note{
    padding: 20px;
    position: relative;
    background-color: #4f4f4f;
    color: #fff;
}
.note-title{
    margin-bottom: 12px;
}
.note ol{
    list-style-type: decimal;
}
.note ol > li{
    line-height: 1.4;
    margin-bottom: 5px;
}
.btn-top{
    position: fixed;
    bottom: 14%;
    right: 5%;
    display: none;
}
.relative{
    position: relative;
}
.w-1100{
    max-width: 1050px;
    margin: auto;
}
.pcApplogo{
    position: absolute;
    top: 10%;
    right: 0;
}
.footer{
    background-color: #000;
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
}
.footer .container > div:first-child{
    float: left;
}
.footer .container > div:last-child{
    float: right;
}
.footer .container > div:last-child a{
    margin: 0 10px;
    display: inline-block;
}
.footer-txt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footer-txt > img{
    width: 100%;
}
.myGarmin{
    width: 120px;
}
.mbFlex{
    display: none;
}
.card-img{
    width: 100%;
    /* height: 211px; */
    overflow: hidden;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    #section1{
        bottom: 11%;
    }
    #section2{
        bottom: 2%;
    }
    #section3{
        bottom: 2%;
    }
    #section4{
        bottom: 2.5%;
    }
    #section5{
        bottom: 4%;
    }
    .header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .logo{
        padding: 10px 0 10px 10px;
    }
    .menu-m{
        visibility: visible;
    }
    .menu li a{
        padding: 20px 0;
    }
    .banner-pc{
        display: none;
    }
    .banner-m{
        display: block;
        margin-top: 58px;
    }
    .revitalize-pc{
        display: none;
    }
    .revitalize-mb{
        display: block;
    }
    .menu-block{
        display: none;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        padding: 0 20px;
        position: fixed;
        top: 58px;
        z-index: 100;
    }
    .menu-block .menu li{
        width: 100%;
        border-bottom: 1px solid #fdd000;
    }
    .menu-block .menu li:last-child{
        border-bottom: none;
        margin-bottom: 50px;
    }
    .menu-block-mb{
        display: none;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        padding: 0 20px;
        position: fixed;
        top: 58px;
        z-index: 100;
    }
    .menu-block-mb .menu li{
        width: 100%;
        border-bottom: 1px solid #fdd000;
    }
    .menu-block-mb .menu li:last-child{
        border-bottom: none;
        margin-bottom: 50px;
    }
    .menu-m-social{
        display: block;
    }
    .menu-m-social{
        text-align: center;
    }
    .menu-m-social a{
        display: inline-block;
        margin: 0 10px
    }

    .bar{
        width: 50px;
        height: 8px;
        background: #FDD000;
        margin: 8px 0;
        border-radius: 10px;
        display: block;
		opacity: 1;
	}
	.active .bar1{
		-webkit-transform: rotate(-45deg) translate(-8px, 12px) ;
    transform: rotate(-45deg) translate(-8px, 12px);
	}
	
	.active .bar2{opacity: 0;}
	
	.active .bar3{
		-webkit-transform: rotate(45deg) translate(-10px, -15px) ;
		transform: rotate(45deg) translate(-10px, -15px);
  }



    .card{
        width: 46%;
        margin-left: 20px;
        margin-right: 10px;
    }
    .card-logo{
        top: 43%;
    }

    .btn-top{
        position: fixed;
        bottom: 8%;
        right: 5%;
        float: right;
    }

    .directions-wrap{
        background: none;
        padding-bottom: 0;
    }

    .footer-txt{
        position: static;
        transform: none;
    }
    .footer .container > div:first-child, .footer .container > div:last-child{
        display: none;
    }
    .directions-center {
        text-align: center;
        margin-bottom: 25px;
        display: flex;
        width: 300px;
        margin: 0 auto;
    }
    .pcApplogo{
        display: none;
    }

}

@media screen and (max-width: 768px){
    .card{
        width: 90%;
        margin: auto;
        margin-bottom: 25px;
        float: none;
    }
    .card-logo{
        top: 42%;
    }
}

@media screen and (max-width: 450px){
    .menu li img{
        display: inline-block;
        max-width: 60%;
        height: auto;
    }
    .menu-block-mb .menu li:last-child img{
        display: inline-block;
        max-width: 40%;
        height: auto;
    }
    .w-1100{
        width: 85%;
        max-width: 1050px;
    }
    .card-logo{
        top: 42%;
    }
    .note {
        padding: 20px 0 20px 20px;
    }
    .sub-slogn{
        width: 310px;
        left: 9%;
        right: 0;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        /* transform: translate(-50%,-50%); */
    }
    .title-txt{
        width: 90%;
        margin-left: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-banner{
        height: 280px;
    }
    .subMask{
        height: 280px;
    }

    .directions-wrap .title-txt{
        width: 100%;
        text-align: center;
    }
    .title-txt.black h2{
        width: 100%;
        line-height: 1.2;
    }
    .w-50p{
        width: auto;
        padding: 0 20px;
        margin-left: 0;
    }
    .directions-center{
        width: 240px;
    }
    .directions-center > div{
        width: 100px;
        margin-right: 8px;
    }
    .ver-bottom{
        width: 130px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px){
    .directions-center > div{
        width: 90px;
    }
    .menu li a{
        padding: 10px 0;
    }
}
